doctype html
html
  head
    title
  form(method='POST', enctype='multipart/form-data', action="/maroute?_method=DELETE", accept='image/png')
    input(type='submit', name='supprimer')
    button  envoyer 
  body
